<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>Fetch Data Example</title>
  </head>
  <body>
    <nav>
      <h1>Events</h1>
      <button onclick="window.location.href='/form_page'">
        Go to Form Page
      </button>
    </nav>
    <div id="displayContainer"></div>

    <script>
      // Function to fetch and display data
      function fetchDataAndDisplay() {
        fetch("/display")
          .then((response) => response.json())
          .then((data) => {
            // Update the display container with the formatted data
            let formattedData = formatEventData(data);
            document.getElementById("displayContainer").innerHTML =
              formattedData;
          })
          .catch((error) => console.error("Error fetching data:", error));
      }

      // Trigger the data fetching and display function when the page loads
      window.onload = fetchDataAndDisplay;

      function formatEventData(data) {
        let formattedData = "";

        for (const eventId in data) {
          const event = data[eventId];
          formattedData += `<div class="event-container">
                                <h3>${event.Event || event.eventName}</h3>
                                <p><strong>Date:</strong> ${
                                  event.dato || event.eventDate
                                }</p>
                                <p><strong>Info:</strong> ${
                                  event.info || event.eventInfo
                                }</p>
                                <p><strong>Address:</strong> ${
                                  event.Address || event.eventAddress
                                }</p>
                              </div>`;
        }

        return formattedData;
      }
    </script>
  </body>
</html>
